<h3>Older posts</h3>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Note</th>
      <th>City name</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |f| %>
      <tr>
        <td><%= f.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= f.note %></td>
        <td><%= f.city.name.capitalize %></td>
        <td><%= f.weather.temperature %></td>
      </tr>
    <% end %>
  </tbody>
</table>
