<center>
  <div class="container center jumbotron">
    <h2>Record trips. Register weather.</h2>
      <% if user_signed_in? == false %>
        <h4>Sign in with your Google account</h4>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      <% end %>
  </div>
</center>
